{% extends 'base.html.twig' %}

{% block title %} Connexion {% endblock %}

{% block styles %} 
     <link rel="stylesheet" href="{{asset('styles/login.css')}}">
{% endblock %}

{% block body %}
    <div class="containers container">
          <h2>Connexion</h2>
    
          <form action="" method="POST" autocomplete="off">
               <div>
                    <label for="email">Email</label>
                    <input placeholder="Votre email..." type="email" id="email" name="email" required>
               </div>

               <div>
                    <label for="password">Mot de passe</label>
                    <input placeholder="Votre mot de passe..." type="password" id="password" name="password" required>
               </div>

               <div>
                    <button type="submit">Se connecter</button>
               </div>
          </form>
    </div>

    {% if error %}
        <p style="color:red;">{{ error }}</p>
    {% endif %}
{% endblock %}
