.container-card {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     padding: 20px;
 }

 /* Dashboard card styles */
 .card {
     background-color: white;
     border-radius: 8px;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     width: 30%;
     margin-bottom: 20px;
     padding: 20px;
     text-align: center;
 }

 .card h3 {
     margin: 0;
     font-size: 2rem;
     color: #4CAF50;
 }

 .card p {
     font-size: 1rem;
     color: #555;
 }

 .card .icon {
     font-size: 3rem;
     color: #4CAF50;
     margin-bottom: 15px;
 }
